#maincontent{
    width: 900px;
    margin: 0 auto;
    text-align: left;
    padding: 0;
    height: 100%;
}

.section{
    width: 400px;
    float: left;
    margin-right: 40px;
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
}

.section.one{
    background-image: url(https://cdn.pixabay.com/photo/2015/05/27/09/02/music-786135_640.jpg);
}

.section.two{
    background-image: url(https://i.etsystatic.com/6670717/r/il/a5182f/450751476/il_570xN.450751476_197e.jpg);
}

.hover{
    background-color: rgba(255, 255, 255, .5);
    margin-top: 20px;
    position: absolute;
    top: 450px;
    width: 400px;
    height: 25px;
    overflow: hidden;
    -webkit-transition: all 1s ease-in-out .2s;
    -moz-transition: all 1s ease-in-out .2s;
    -ms-transition: all 1s ease-in-out .2s;
    -o-transition: all 1s ease-in-out .2s;
    transition: all 1s ease-in-out .2s;    
}

.hover:hover{
    height: 510px;
    top: 0;
}


